# ===================================================================
# НАастройки для бэкэнда (FastAPI)
# -------------------------------------------------------------------

# Настройки CORS механизма (разрешенные источники для фронтенда)
ALLOWED_ORIGINS=http://localhost:8501,http://127.0.0.1:8501


# ===================================================================
# НАастройки инфраструктуры и DOCKER
# -------------------------------------------------------------------

# Порты, на которых будут подниматься контейнеры
BACKEND_PORT=8000
FRONTEND_PORT=8501
